APScheduler==3.10.1
attrs==22.2.0
Automat==22.10.0
backports.zoneinfo==0.2.1
beautifulsoup4==4.12.2
Brotli==1.0.9
certifi==2023.7.22
cffi==1.15.1
charset-normalizer==2.0.12
click==8.0.4
constantly==15.1.0
cryptography==40.0.2
cssselect==1.1.0
dataclasses==0.8
elastic-transport==8.4.0
elasticsearch==8.9.0
filelock==3.4.1
Flask==2.0.3
Flask-Compress==1.13
Flask-SQLAlchemy==2.5.1
greenlet==2.0.2
hyperlink==21.0.0
idna==3.4
importlib-metadata==4.8.3
importlib-resources==5.4.0
incremental==22.10.0
itemadapter==0.7.0
itemloaders==1.0.6
itsdangerous==2.0.1
Jinja2==3.0.3
jmespath==0.10.0
joblib==1.1.1
logparser==0.8.2
lxml==4.9.3
MarkupSafe==2.0.1
nltk==3.6.7
packaging==21.3
parsel==1.6.0
pexpect==4.8.0
Protego==0.2.1
ptyprocess==0.7.0
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycparser==2.21
PyDispatcher==2.0.7
pymongo==4.1.1
pyOpenSSL==23.2.0
pyparsing==3.1.1
pytz==2023.3
pytz-deprecation-shim==0.1.0.post0
queuelib==1.6.2
regex==2023.6.3
requests==2.27.1
requests-file==1.5.1
Scrapy==2.6.3
scrapy-rotating-proxies==0.6.2
scrapyd==1.4.2
scrapyd-client @ git+https://github.com/scrapy/scrapyd-client.git@10fdf9bb17d0d50b895404f9a5a5d59521d43f66
scrapydweb @ git+https://github.com/my8100/scrapydweb.git@7a3b81dba2cba4279c9465064a693bb277ac20e9
service-identity==21.1.0
six==1.16.0
soupsieve==2.3.2.post1
SQLAlchemy==1.4.49
tldextract==3.1.2
tqdm==4.64.1
Twisted==22.4.0
typing==3.7.4.3
typing_extensions==4.1.1
tzdata==2023.3
tzlocal==4.2
uberegg==0.1.1
urllib3==1.26.16
w3lib==2.0.1
Werkzeug==2.0.3
zipp==3.6.0
zope.interface==5.5.2
